.btn-primary {
  margin-top: 20px;
}


.header_container{
  text-align: center;
}

.container form {
  padding: 0 25%;
}

#errormessage_name,#errormessage_email,#errormessage_checkbox{
  color:red;
  font-size: 12px;
}
