.btn-primary {
  margin-top: 20px;
}
.header_container h3{
  color: white;
}


.container_size {
  max-width: 450px;
  margin: 0 auto;
  background-color: #33E0A1;
  padding: 15px 15px;
  border-radius: 30px;
  color: white;
}

.container form {
  padding: 0 25%;
}

#errormessage_name,#errormessage_email,#errormessage_checkbox{
  color:red;
  font-size: 12px;
}
