* ::-webkit-scrollbar {
    display: none; }

.btn-outline-success {
    color: #34e0a1;
    border-color: #34e0a1;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #34e0a1;
    border-color: #34e0a1;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #34e0a1;
    border-color: #34e0a1;
  }

.container-fluid {
  text-align: center;
  height: 500px;
  background: url("images/ferie1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}
.container-fluid h1 {
  color: white;
  text-shadow: 2px 2px 5px #000000;
  font-size: 58px;
  position: relative;
  top: 150px;
}
.container-fluid p {
  position: relative;
  top: 160px;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}
.container-fluid button {
  position: relative;
  top: 180px;
}
.btn-success{

}
